
.img{
    width: 450px;
    height: 400px;
}
.nav-bar{
    background-color: black;
    height: 70px;
    display: flex;
    position: fixed; 
     width: 100%; 
     top:0%;
     
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    position: fixed;
    ;
}
.produce-container {
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
  }
.flex-container{
    border:3px solid gray;
}
.padding{
    padding-top: 50px;
}
.first{
    background-color: gray;
     position: fixed; 
     width: 20%;
      top:0%;
       padding: 80px; 
       right:0px   
}
.second{
    margin: 0px 30px; 
    font-size: 25px
}
.name{
    padding: 25px;
    color:red; 
    text-align: center;
     font-size: 50px;
}
.age{
    text-align: center;
     color:seagreen; 
     font-size: 45px; 
}
.school{
    text-align: center; 
    color:tan; 
    font-size: 40px;
}
.phone{
    text-align:center; 
    color: blue; 
    font-size: 35px;
}

.produce-detail-img{
    width: 95%;
    height: 80%;
    margin-top: 50px;
}
.produce-detail-container{
    display: flex;
    margin: 60px 0 ;
    padding: 0 10%;
}
.nav-bar a:hover{
    background-color: violet;
}
.produce-display{
    width: 70%;
}
.detail-display{
    width: 30%;
    padding: 0 5%;
}
.text-center{
    text-align: center;
}
.footer{
   text-align: center;
  padding: 3px;
  background-color: gray;
  color: black; 
}
.footer2{
    display: flex;
    margin: 0 40px 0 40px;
    padding:0 10%;
}
.button{
    width: 100px ;
    height: 40px;
    font-size: large;
}
