.bg{
    background-image : url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEBUSEhIVFRUWFRgWFRcVFxUVFRUVFRUXFhUVFRUYHSggGBomHRUWITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGC0eHiAtLS0tLSstLS0tKystLS0tLS0tKy0tLS0tLS0tLS0tLS0tLS0tKy0rLS0tLS0tKy0tK//AABEIAJ8BPgMBIgACEQEDEQH/xAAcAAAABwEBAAAAAAAAAAAAAAAAAQIEBQYHAwj/xAA7EAABAwIEBAQEBAUCBwAAAAABAAIRAwQFEiExBiJBURNhcYEHMpGhFLHB8CNCYtHhQ1IVFjNTkqLx/8QAGQEBAQEBAQEAAAAAAAAAAAAAAAECAwQF/8QAIhEBAQACAwEBAAIDAQAAAAAAAAECERIhMQNBE3EyUWEi/9oADAMBAAIRAxEAPwDRJRhJCUEUEoIkbUBpSSlBEEgjhBQEgjQRQQQQKAiU1tcRo1CWsqNcR0B1/wAosXeRb1SNxTeR7NKyzD3uHOwkOb2kfdc88+Ndfn8+Uta6iUPw3jYuGQdKjdHDv5hTK1LubYsuN1RIkaCqAgm97dCm2Tv0HcqrXuKVc+bOdDsNB6QsZZzF1w+dyXBGktMgeiNbcxoII0QEEEEAQQQQGEIQRoAghCKEQaCEI0BIQhCCAIIIigJBBFCoQEYRBGqDRhJlGECkYKSgFAuUSAQRAQQQARQlGihGg5V6Yc1zTs4Fp9CIWV2VRlOWOjMCRBA5SND0lasVnGN2hbcuIY3mJeXHuTMarl9P9vR8f2IerfmjVFWkYg6xv6wrnhPGdN3LX5TpDgCQ4HrA28/dVOoBJho35nP2Hdv0lMsWw4+JTeXOLWy8tbLeUdTHTRcplq7dMsZl00mhxZaOOUVCCN5a4RrHUJN5xRRGlM53ET1DQO7iVmFcZDUedgOWNy53y5Y6xP8A5KesbcuoBz9XOGvfTTXz6fVM/tYmHxxqSoYm6vVLnu02aNPyKbX9GqbqnTGziGg+p6+0pLbENbySY3GUGPcp/wAKHxKzHGSKZcBLcsSNIHss43k7WcZv/S8gIIIL1vnjQQQQBBCUJQBBBCUBo0UowgCNEjRBI0EEAQQQQBJKNEqCQRwgQg4go0kJQVBo0lGgNGESMKAwjKJGgCCCCAAoSgiUHO4qhrHOOwBJ9AJWbYjjArPLjDG7NBiXd1fOIHH8NVj/AGEfUQsxwmxa6oX1Bn3a3RxDYOvuuP1v49Hxn673GIWtOPGqAfzaAujsTAKnKdWlWIqU3NfT8ItkbT1Hl6Kv8V8IGo1xa002uyObU8NxYGgDM1xA5TMnXeR7O+GLNz69SnTa4U3MY0OLcmZ7ZBqBsDSCBtrC8+uX9vRMrP6NcEsc5n5sjCBpu4hrQf8A0P1U5Z0mUadOk+tSZUIBcHOAdPkJVlxDBm2lrWqs1cKfKP6joDHrCy44M6pcUazMjqBpEVi95BZUHzufzTnnvI0Kv1nH/JPnnvuRf3W2Xrqe23qpXA6LBTkQDmkjrKgLfCagtmOa94dlloP+2TlkHUSITjBK+ao2ZBmHDzA/Jc/nlccnT6Y8sb2tiNEjX0XzgQQQRARoIIoIKExy/qU6jWsMaSdJ6nfy0Uhh1+2qNNHD5m9vP0WZlN6auFk2dpQQRhaYBBBBEBBBGgCJHCKEBII0EAQQQVDQFLBXOUoIFygElKBQGjCRKMIOiASZQlAtEgilAaCQ+oACSYAEknYAdSqLjHGtQ1Itsopt/mLcxqHyHRqzbpvHG3xeLikHtLTsRCjsPwanTbETzT7zKcYLiAuKFOsB87ZI7OGjh7EFPHeyal7N2dJG1uABAUJxXigtWeP4Zc0HmLGyQO7o1A89gnYrQO31/RML/FeVzAzPIIIgRBH8xPRKYztw4d4zo3z3UwwjLHzA5TsQM3yz5SrAzDrI1M4oUDUEEu8NmaehzRKz3B7U02NpNa1oaIEaCdZgjWeqn8Npv8QQDPUz089AV5/5bvVj0X5T2XSx4hhzHmfyVWoYa9ty+I0GZs7SdIKtoPquVyyKb3DfKSPUDRdMvnLdueP0smlfw7HKdRxY4hlQbtdp9D19lLAqo4jg9O8bJ5Ko1B6Ejv8A33T7h6+qA+BXEPbo3TcevX1VmfeqZfPrcWFGiCNdHIEFyrVg3dFb3LXzB2U2urraKxyhmqMMSYjcjr5Kv4teG2/iggObtrIM7sPkfzAUtjNdznw0THudDpCrWNYRWr5RlIAh5nvnytb6nX6Lz5Xvp6cZ/wCe0uzj1sf9J2g5uw8vopbCuLKFYwTkd0DtFU6eFkU3BrZJdzu/qd/K30BTOhhjaLoLSTmmTuJ/sk+3ZfhNNHucYpt0bznsNvcoW2Jhxh2hO3QemqqXgimcxqDK4SMxP3gyl067slWtsGMc5pmWkgGCO+vkukyvrH8ePiK4j+I7qdQspAQI1P30XDD/AItuJaw22c7SHQ4nybCzqzsalzXbTbq5zgB9VtXDPw6trVwqOmrU0PNGUO8h/dbm3PLUW+1ql7GuLS0uAJadS2RsY6rqgiWnIEEEIQEhCNBUMQlhc2pYKBSCSCjQGggEEGbUscvaVapNQuy1HNLXatOVxGg6bdFZsJ4wpVOWqPCf2Pyn0PT3UTxtZGlU8Vg0fvHRw3nyOh+qpNS6JOg9VytuL0amUaZi3GVGmCKZzu28h5z1UCzjmqN2tM7dCJK48EcM/iX1HvdyQGgdS7c+hED6pfGnCn4R3jyDTc6O0OMkCPZLy1skx3oz4i4qqXFIUhyNPzwdXeU9AoQYnTY3LpPYfquVWgC2QZ9iFFVqLw9piQCsy79b1rxtHAdTNZMP9T49MxU+Sql8OLoutnCNGvOX0cJI+v5qz1qkELrj48+X+VB5AXCrSa5OMmYLmLZSxY40LVoM7lSVF4A0hcG2qc07ZZk0tuwdcwFypYgDyldLpmigK859O6tpJsVhcB7nNDiMhykSCPLT97KaDWOAlocRqCdx5qv2Nsyk59SpUazO7+Yhok9BP191YMLtxmcZkax6QNvJYjpkcBw6rnXOhy6nsuVyxzniNNzHkEGMdGuicqcYja9QFhJ0PcxB9k1sKjmUalU9jHtKbcSWFY1KYY1xBcASJDR6/vup11kG0zTG2X809bupipV/Y3FW1c5jXvc50FjQeQRImASRMCYMdk64RL6NtkrOOcPOUVJloDWgmDq1ubNAKuLM7aENIaTuWiCqJ/wR9W7qMbctDNHGRmdDpGUaiDpuVzuNk1GsbM7un/FHEjLKm1rGse9rfFfmPKwHRoAHzOP76BM24nTqtDn0/CfMEZpYZAOZrjHf1UvhPB7A14rDxIJcx5c4PgxyaHbTbbZQ+LYbUqN8ENospScocSXSd3FziSXeazeOp0s3uk3jJY5jXAZoB2MCRMTt7Kev6FM2hYIazwSydOyz+o2rb1W0avMNqb9dR2KmcdrVGWtOmdPE5jPboPLv9FZvWjKxy+HGEsbdOqRqAcs9J6/RauFlvBt6GV4cd/OAStQpukL0Y+PJ9PSkEJRStuY0SKUcoAgiRqiPaUoFcQ5KDkHUI0gFHKBSMFIlDMgrvxBYTZOjo9p9Nx+qy+nTOwnL3BMn3Gy1ziW0Na3cxu+49jMKncMYQ19YB9OY1PbToehXPKdu2F1iefC+pVpmoXNcKbsuUyXNzgvkNJ35YkjTQK48UYZUv6bBRewGnUzOa/YnKQAdDHzdiixakzwwMswRkDeXKRtAGyGAVH0hkfTDZMlzR8zjuXR1Pmtf8NS48v1UKnAN1TpBpa1+XT5szvXYKpYphlSk6HAjvMiPr0W/irmGxUDxHw4y5AJ5XDr5LFwXH6flVz4fgi3MiJcffQKxXO09lyo2baDQxuwXOtW7lak1GMrupW12TtlJR+F1JapemqzXRlslOpABdGVFzrVAgjbvZQFc86mMQqQFDADOCTpKxW8UDxfgNe6Y1lAE75vlkE9RmIGx3B0IVr4Msn0rZtOqRnaC0iZgF5IbPkCApSjo3RVK7uG/isoqVWMLszy2Q3PoA3OdgddBtG+qutR0wnO0z+J1K/efDt21G02tEPZmhzy7mz5NRA2nTdTPClO4bQms5wGb+G2oS54ZA3cRMTtIVxs7jM3Xbom1ai0ukD1UuLMz/KasrdDqE1urtjXESBICeVLeJ7LMeJ79/wCKjYTpr9Fmbi3WTQ7O4DgRuPumlXDachzBlcOu3rITHh+YEk7KeqUsw+y1rbMvE1/H+GDJYR1H+ZXNlhSugHARr0/RLqYVSd87J9VK2FENGVjQ0DoFJhvq+Lc9d4+o1/C1J9Rj6ku8PYdJ7qG+IeHAsDgNvPSPJXymxRXE9tnonbbqtcZJqMTO3LdYoyWuBiCFoXCGOtezI48w/fVU+9tcpiZ32E/dDBqjqdZpGkn1WMbp1zx21mUUptZ1szAZXUldnn0XKVK5Ao5Q06SjBXOUAURGNKWCuQKWFR0BRykgo5QHKKURRSgUVypWzQ4uAgneErMjY7WEXbo6k3Qxr3TijWA3Kac8pbbEu1cP8f5UVKUag7pxumttZwpClTREJjNKKbnATAJWOvx6s65IJIgxEkCJ9Fu95TkEeSwLipv4fEeaILgemuvZZreNargtU5RPkp1lXRUjB77NsVYqN0ps0nKdRcbiqmba+iS6tPsrtNG96+VF1jHqn1YymZoSYWa1E1hlUmmAdUdW3YegC7WtHKwDyS/w8rWmZdBQDAIGsfb0Tpg1lMxZHcfsdVIWtuRvsqlrjenlICyTiylFcHbX0j6hbPWo6LL+OrV3itLZ+YaR+SzlG8KsmA0ZaCewVip0tlEYK3kHopynUACsZpItgU5pUY2+6TRqg7LrmWma6JhiwBpme3onoUVjbhkM9lL4Y+s2xy2EiDGvZRLD/FDQSYPSY/wpfEXZ3Egy0dDCjMNozUzwTJ2M9PJcJHqtaBg9QlkEH3T+UwwdnJP79k9K7zx5r6VKKUQRqoOUYKSlBERjUoJDUsKhYQJQCCAnFJJRvKQXIDJXK1uQauWdlwxG7DKZOm3VQ2AOc6pm2BMz31Utak62v9FoTllOOqjmVYTm3ufIFGdJClC6F6aOdrI00SWVT1RXaosS+NlsQ5tQASDvHvutsJWc/FzDTUtiWkSNY0k+iLFV4SxXPTb3MT69ZV0ZXIbPkst+H7p5RuHLVBbcmvZYyahFHF9p906pX4cCFTq1QsqEdELfFC1/lOv0XPd268ZpbadaXwpC3p8wUHgdbxKmitFOlDgumMc6lKbE6pNTCo8hs6+y621eQJ3W3M9az9V1Dk3fXABI7pNOtKBw8rPuN387RH8w7d+xV/nRUHjGrL2ju6B27rOTeE7TWHO5B6J5TuJkeX2VOGJV6QPKHaadEeF4y+HPqtgzA9CdFy/kl6db8rJtb21i3Sfp+SkLWvIVGdjPNpB6p1gfEpe7IabgfISPqtTOTpm/O5TcXnOq7xHW0cB6dfspyntKrXFF7lOX+3ZdMvHPD1ScQpRygjvBAk+S74Fakk6ERpp0/WE4a5ruwnr+gU/gFg0AnznouWN27ZbkSNrSysASyujwkwuzz7IRo4RQiDRhFCMBBFhyVKbiom9/iDaTC92wV2JAuSS9Uw8e0JggpdTji3iQT++6nKLxq2PeuTnql3XHVOOX+4UdV+IB/wBo9VOS8KmuJ7ozH/z7qd4UoA0g6J81UadV15SNSP7BXDgJj/ALXDYwFJ63fFhe+Bt+SO1uBO/mul3Rga9lCisKdQA+n3VrEWjNoFw/EAEidkQqjLPkodtwDVJHl9kJFmomQqn8SWg2jpAIg+2m6tVpq1Z98Z67m2eVs67+nWVSMy+GtUCu8LbBTmn7LCfh20/ifWNB17rfqVP+H7LN9WeMuxy4yVt+p+26RSrNIUZx44U7qB1k/VRdliSxrp021DgfV7yNgPzV3pbqt8E4YaFrnf8APV5j/S0/KP33U5Ue7Icu/mt+Rn2nF9Wga/USmdvehrspTBmIu1bVGo7fv9woHiPGRQeG+/oFJlKtws6XK/xQMH7+6Rh+JvedhE9/0hU7Dazrh2fcbgfv96KyWtRwAB3En7nqsXK7bmM0t9J0hVLG7bPctHaTt+Sma1/4dEucY0UBglwbioXkzBhdL25TqofFL0U6kOBievX9yonFbnM0Bp0JlXniTA21WjpHX22WdXsMcWTMGJXn42V6eUuPTlTc4EGVccCxGnTbneY213M9gqjb050Viw2zaDndBjYHYd1crrsk31WkW1YOaCDIIkFZlxxiE3BaCe0Dy9VdLC9DKJJgBo07f4hZlxAXOis6QHuIb3IGs/b7rpllvFxxx1mc4W0gSAfcz9Fe8CqAs06KkcPWBqDM0E+WwV2w208JsE69Vj5S726fazWki4pBckmokF69DyOmdDMuJchmQdw5HmTfOlB6CGK412AggiQeifeCkVKGiuhkvFPDbxUJoMJB6S3T0kqvnBrv/su+rf7raqllJ1XM2A7LPFrkxUYDdn/Rd9Wj9UunwzeH/Tj1c39Ctjdh4SPwICujaE4Lo1KdLwqwA7cwK0Th2kGt23VapWWYwBqrhhFqWNAO6QtPbyMuqx7i3G81xDHfKeUjaQD+ei1bHq+S3qPP8rHH7LzJeYkZJEmSTr0mVKsa9/zXFFsEEkwdduUE/qmvCmOmtd5JmSQPYb/msiGLPjL0V2+ERc6+mNmuM9pTS7j0BQby6LLPjdXPh02A6EyR0MHqtTtyIVX4vwRtd9Ko4y1jtW9+0qsxnnwp4eMms8QZ5QRrC1ytThseS64dZsYwQ0DToE5qtBbssq87fFmk9t00nZzTB8wdR+SqeEVP4zBuCQI91ffi0TVums0hgP1dv+QSvhfwa2rV/EVPlpOBaO7+k+m6fjW+2ukQxjY6BFX2MA+0LpUpc0noiqarGfjWHqJxZtNrPFO409ewWZYpcm4qg7k6ffQKxfEC+JeKIJAAnTTVQ/AWD1K10CXSynqZiZ6BJityX3h7DG0KLW9Y19SpenR1kD6qQNiA1Q2NXHg03EHUgwPTfX3U49rymla47xkthjXDLtAiZUh8OqxdTmICoj8OqXldrQ8N1JJdJ09Buta4WwD8PTDQQfNdJHO3pz4sqP8ADzU3xlBJEfNpsscompVrHzJ91tWP2B8CpBHyndY+wgPOU7Rp5yQfyXPv9dJrXS2YZhZDJ6x91OYdhviAAugzuofA8RzUWGJLjCuGAUHSO3VTLGXUWZWbrjitqKdIAHljn7wq9ituyuKTWwQHH2AEfqFceJLQuoOjeFR8DqtnINx83mfVdLNdOcu+1swqzDGAAJVbcpnht417XubPKARPbKCn7OYArUZyl/XBJXd1NF4arDijAXXIlBiqOQCWAugajDUH/9k=");
    background-repeat: no-repeat;
    background-size: cover;
}
/* style the nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  .word{
      margin: 0 1000px 0 30px;
  }
  .flex-container {
    display: flex;
}
#Product, #About_us,#News{
    margin: 10px;
    border: 4px solid black;
    border-radius: 5px;
    height: 400px;
    width: 450px;
}
.product{
  margin: 10px;
    border: 4px;
    border-radius: 5px;
    height: 400px;
    width: 450px;
}




